* {
  box-sizing: border-box;
  margin: 1rem;
  padding: 0rem;
  background: #f9f9f9;
  border-radius: 10px;
  border: 1px;
  box-shadow: 0 0 0px;
  }

html, body {
  height: 10%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f2f5;
  color: #333;
}

#root {
  display: flex;
  align-items: center;
  min-height: 10vh;
  padding-top: 1rem;
}
